.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90vh;
}


.profile {
  border: 2px solid black;
  width: 33vw;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container > section {
  width: 66vw;
  text-align: center;
}

ul {
  list-style-type: none;
}
