.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 92vh;
}


.profile {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(42, 54, 62, 0.429);
}

.info {
  margin: 2vmin;
}

.info > img {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  border-radius: 50%;
}

.info > h2 {
  margin-top: 2vmin;
  margin-bottom: 0;
}

.right {
  height: 100%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right > div {
  width: 55vw;
  height: 35vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.472);
  padding: 1vmin 4vmin;
}

.table header {
  background-color: rgba(255, 255, 255, 0.472);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.list {
  height: 20vh;
  overflow-y: scroll;
}

