.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 21px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 75%;
  border-radius: 50%;
  margin-bottom: 60px;
}