.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
}

.content {
  width: 275px;
  height: 75px;
  resize: vertical;
}

.delete {
  position: relative;
  float: right; 
}

.delete:hover {
  cursor: pointer;
}

.star:hover {
  cursor: pointer;
}

.buttons {
  margin: 10px 0px;
  display: flex; 
  justify-content: space-around;
}

.button {
  width: 25%
}

.button:hover {
  cursor: pointer;
}
