.resource {
  display: flex;
  width: 100%;
  align-items: center;
  height: 7vh;
  background-color: var(--card-background);
  margin-bottom: 2px;
  border-radius: 5px;
  position: relative;
}

.resource div {
  display: flex;
  width: 35vw;
  height: 7vh;
  justify-content: center;
}

#star {
  width: 10vw;
  padding-right: 3vmin;
}

.resource div > p {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
  letter-spacing: .05em;
}

.name > p {
  width: 20vw;
  height: 5vh;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#networking {
  background-color: darkgreen;
  color: white;
  padding: 5px 10px;
}

#interviewing {
  background-color: lightgreen;
  padding: 5px 10px;
}

#job-search {
  background-color: darkblue;
  color: white;
  padding: 5px 10px;
}

#resumes {
  background-color: rgb(230, 240, 122);
  padding: 5px 10px;
}

#other {
  background-color: rgb(238, 204, 119);
  padding: 5px 10px;
}

#star > p:hover {
  cursor: pointer;
}