.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 39px;
  width: 100%;
  padding: 0 10px;
  background-color: rgb(241, 241, 241, 0.429);
}

.header {
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;  
}

.button {
  width: 25%
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -30px;
  gap: 10px;
}

.sort select {
  border: 3px solid aliceblue;
  border-radius: 5px;
  height: 30px;
  width: 90px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
