.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  background-color: rgb(241, 241, 241, 0.429);
}

.container nav > div {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
  gap: 20px;
  margin: 10px 0;
}

.jobs:first-child {
  width: 75%;
  height: 100%;
}

.notes:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: rgba(42, 54, 62, 0.429);
  overflow: scroll;
}

.table {
  margin: 10px;
  height: calc(100% - 86px);
}

.table section {
  height: calc(100% - 75px);
  overflow: scroll;
}

.table h4 {
  margin: 0;
}
