.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: lightgreen;
}

.container nav > div {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
  gap: 20px;
  margin: 10px;
}

.jobs:first-child {
  width: 75%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.notes:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: darkgray;
  overflow: scroll;
}

.table {
  margin: 10px;
  border: 1px solid gray;
  overflow: scroll;
}

.table header {
  background-color: aqua;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.table section {
  overflow: scroll;
}

.table h4 {
  margin: 0;
}

.table header > div {
  width: calc(100%/6);
}