.job {
  display: flex;
  width: 100%;
  align-items: center;
  height: 75px;
  background-color: var(--card-background);
  margin-bottom: 2px;
  border-radius: 5px;
}

.job div > p {
  font-size: 14px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 20px;
}

.dream-job {
  background-color: lightblue;
}

.great-option {
  background-color: darkgreen;
  color: white;
}

.totally-fine {
  background-color: lightgreen;
}

.will-pay-bills {
  background-color: yellowgreen;
}

.job span {
  width: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  cursor: pointer;
}

.job div {
  display: flex;
  width: calc(100%/7);
  justify-content: start;
}

.selected {
  background-color: yellow;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
}

.notebuttons {
  display: flex;
  margin-left: 20px;
}

.edit:hover, .delete:hover {
  cursor: pointer;
}