.job {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
}

.dropdown {
  cursor: pointer;
}

.job div {
  display: flex;
  width: calc(100%/6);
  justify-content: start;
}

.selected {
  background-color: yellow;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
}

.notebuttons {
  display: flex;
  margin-left: 20px;
  gap: 10px;
}

.notebuttons button {
  padding: 10px;
  border-radius: 20px;
}

.notebuttons button:hover {
  cursor: pointer;
}

.edit:hover, .delete:hover {
  cursor: pointer;
}

