.job {
  display: flex;
  width: 100%;
  align-items: center;
  height: 75px;
  background-color: var(--card-background);
  margin-bottom: 2px;
  border-radius: 5px;
  position: relative;
}

.job div > p {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  border-radius: 20px;
}

.job a {
  color: var(--background);
}

#dream-job {
  background-color: darkgreen;
  color: white;
  padding: 5px 10px;
}

#great-option {
  background-color: lightgreen;
  padding: 5px 10px;
}

#totally-fine {
  background-color: rgb(230, 240, 122);
  padding: 5px 10px;
}

#will-pay-bills {
  background-color: rgb(238, 204, 119);
  padding: 5px 10px;
}

.job span {
  width: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  cursor: pointer;
}

.job div {
  display: flex;
  width: calc(100%/7);
  justify-content: start;
}

.selected {
  background-color: rgb(208, 242, 255);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  z-index: 2;
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  transition: all 0.5s ease-in-out;
}

.details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 30px;
  margin-bottom: 2px;
  margin-top: -2px;
  background-color: white;
  height: 0;
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.details * {
  display: none;
}

.details > div {
  display: flex;
}

.show {
  display: flex;
  height: 150px;
  opacity: 1;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
}

.show * {
  display: block;
}

.details > div:first-child {
  width: 60%;
  display: flex;
}

.details > div:nth-child(2) {
  width: 40%;
}

.contact, .documents {
  width: 50%;
}

.contact img {
  height: 50px;
  margin-right: 20px;
}

.contact header, .documents header, .notebuttons header {
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.contact h3, .documents h3 {
  margin: 0;
}

.contact p, .documents p {
  padding-left: 20px;
  display: flex;
}

.documents p > a {
  margin-left: 10px;
}

.notebuttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-wrap: wrap;
  height: 100%;
}

.notebuttons > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 20px;
}

.notebuttons h3 {
  margin: 0;
  line-height: 50px;
}

.edit:hover, .delete:hover {
  cursor: pointer;
}