.container {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px;
  height: 30px;
  width: 100px;
  margin: 5px 5px;
}

.container:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: border 0.5s;
}

.selectednote {
  background-color: var(--background);
  color: white;
}