.container {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  height: 40px;
  width: 20%;
  min-width: 100px;
}

.selectednote {
  background-color: var(--background);
  color: white;
}