.container {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px;
  height: 30px;
  width: 100px;
  margin: 5px 5px;
}


.container {
  background-color: rgba(217, 238, 241, 0.482);
  color: black;
  border: none;
}

.container:hover {
  background-color: rgba(217, 238, 241, 0.804);
  transition: background-color 0.5s;
  cursor: pointer;
}

.selectednote {
  border: 1.5px solid var(--background);
  color: black;
}