.container {
  background-color: var(--card-background);
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-right: 75px;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container div {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.container div:nth-child(1):hover,
.container div:nth-child(2):hover, 
.container div:nth-child(3):hover, 
.container div:nth-child(4):hover {
  background-color: aliceblue;
  cursor: pointer;
}

.container div:nth-child(1) {
  width: calc(100%/7);
}

.container div:nth-child(2) {
  width: calc(100%/7);
}

.container div:nth-child(3) {
  width: calc(100%/7);
}

.container div:nth-child(4) {
  width: calc(100%/7);
}

.container div:nth-child(5) {
  width: calc(100%/7);
  padding-left: 0;
}

.container div:nth-child(6) {
  width: calc(100%/7);
  padding-left: 0;
}

.container div:nth-child(7) {
  width: calc(100%/7);
}

.container div select {
  border: 3px solid aliceblue;
  border-radius: 5px;
  height: 75%;
  width: 90%;
}

.container div select:hover {
  cursor: pointer;
}

.container h4 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.container:last-child {
  color: white;
}