.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  background-color: rgb(241, 241, 241, 0.429);
}

.container nav h1 {
  margin: 0;
}

.container nav > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  min-width: 20%;
  margin: 10px 0;
}

.resources input {
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  width: 200px;
  height: 40px;
}

.resources button {
  width: 150px;
  height: 40px;
  background-color: var(--background);
  color: white;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}

.resources button:hover {
  border: 2px solid var(--primary)
}

.resources input:focus {
  border: 2px solid var(--primary)
}

section.resources {
  width: 75%;
  background-color: gray;
  overflow: scroll;
}

section.reviews {
  width: 25%;
  background-color: white;
  overflow: scroll;
}

.resources:first-child {
  width: 75%;
  height: 100%;
}

.table {
  margin: 10px;
  height: calc(100% - 86px);
}

.table section {
  height: calc(100% - 50px);
  overflow: scroll;
}

.table h4 {
  margin: 0;
}


.table header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-right: 60px;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.table > header div {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding-left: px;
}

.date {
  width: 10%;
  padding-right: 2%;
}

.date:hover {
  background-color: aliceblue;
}

.name {
  width: 25%;
  margin-right: 2%;
  padding-left: 1%
}

.name:hover {
  background-color: aliceblue;
}

.category {
  width: 15%;
  padding-right: 2%;
}

.category select {
  border: 3px solid aliceblue;
  border-radius: 5px;
  height: 75%;
  width: 90%;
}

.rating {
  width: 10%;
  padding-right: 2%;
  padding-left: 1%;
}

.rating:hover {
  background-color: aliceblue;
}

.link {
  padding-left: 1%;
  width: 37%;
}

.table h4 {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  width: 100%;
  height: 100%;
}
