main.container {
  display: flex;
  height: 100vh;
}

section.resources {
  width: 75%;
  background-color: gray;
}

section.notes {
  width: 25%;
  background-color: white;
}

nav {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

nav > div {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 20%;
}

.table {
  border: 1px solid black;
}

.table header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.table > header > div {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid black;
  text-align: center;
}