.resource {
  display: flex;
  width: 100%;
  align-items: center;
  height: 75px;
  padding-right: 15px;
  background-color: var(--card-background);
  margin-bottom: 2px;
  border-radius: 5px;
}

.resource div > p {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  border-radius: 20px;
}

.resource span {
  width: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource span > p {
  cursor: pointer;
}

.date, .name, .category, .rating, .link {
  width: calc((100% - 120px)/5);
  padding: 5px;
  display: flex;
  justify-content: start;
}

.date {
  width: calc((100%-120px)/7.5);
}

.name {
  width: calc((100%-120px)/3);
}

.link {
  width: calc((100%-120px)/7.5);
}

.selected {
  background-color: rgb(208, 242, 255);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  transition: all 0.5s ease-in-out;
}

.notselected {
  background-color: rgba(255, 255, 255, 0.8);
  color: darkgray;
}

.notselected #networking {
  background-color: rgba(0, 100, 0, 0.801);
  color: darkgray
}

.notselected #interviewing {
  background-color: rgba(144, 238, 144, 0.8);
}

.notselected #job-search {
  background-color: rgba(0, 0, 139, 0.801);
  color: darkgray
}

.notselected #resumes {
  background-color: rgba(230, 240, 122, 0.801);
}

.notselected #other {
  background-color: rgba(238, 204, 119, 0.8);
}

.notselected img {
  opacity: .6;
}

.details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 30px;
  margin-bottom: 2px;
  margin-top: -2px;
  background-color: white;
  height: 0;
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.details * {
  visibility: hidden;
}

.details > div {
  display: flex;
}

.show {
  display: flex;
  height: 150px;
  opacity: 1;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.show * {
  visibility: visible;
  transition: visibility 0s ease-in 0.5s;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.label {
  padding: 5px 10px;
}

.label > h4:hover {
  cursor: text;
}

.instructions {
  padding: 5px 10px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-top: 0.5px solid lightgray;
}

.instructions p {
  font-size: 14px;
  margin: 0;
}

.instructions:hover {
  cursor: text;
  overflow: overlay;
}

#networking {
  background-color: darkgreen;
  color: white;
  padding: 5px 10px;
}

#interviewing {
  background-color: lightgreen;
  padding: 5px 10px;
}

#job-search {
  background-color: darkblue;
  color: white;
  padding: 5px 10px;
}

#resumes {
  background-color: rgb(230, 240, 122);
  padding: 5px 10px;
}

#other {
  background-color: rgb(238, 204, 119);
  padding: 5px 10px;
}