.form {
  padding: 1vmin 0;
  margin-top: 1vmin;
  height: 80%;
  background-color: aliceblue;
}

.form > div {
  width: 90%;
  padding-bottom: 1vmin;
}

.form > button {
  padding: 0;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
}

.form > button > img {
  height: 2vw;
  width: 2vw;
}

.form > button:hover {
  background-color: rgba(125, 194, 205, 0.749);
}