.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  padding: 10px;
  min-width: 350px;
  border-radius: 5px;
  margin: 10px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content h2 {
  margin: 0;
}

.content header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content p {
  margin: 0;
}

.content header p:hover {
  cursor: pointer;
}

.content div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content div:last-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nocontent {
  display: none;
}

.hiding {
  display: none;
}

.deleting {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.deleting button {
  border-radius: 5px;
  padding: 10px 5px;
  width: 40%;
}

.deleting button:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
}