.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  margin-bottom: 10px;
}

.container h2 {
  margin: 0;
  font-weight: 600;
}

.container header p {
  margin: 0;
}

.container header > p:hover {
  cursor: pointer;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 0.5px solid gray;
}

.container > p:last-child {
  align-self: end;
  font-size: 12px;
  margin: 0;
}